<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layout/layout}" >
<head>
    <meta charset="UTF-8" />
    <title>测试列表</title>
</head>
<body>
<div  layout:fragment="content" >
		  <h2>用户列表</h2>
		  <div>
		     <ul>
		         <li th:each="user:${users}">
		             <p>ID:<span th:text="${user.id}"></span></p>
		             <p>名字:<span th:text="${user.email}"></span></p>
		             <p>年龄:<span th:text="${user.email}"></span></p>
		             <p>地址:<span th:text="${user.email}"></span></p>
		         </li>
		     </ul> 
		   </div>
</div>
</body>
</html>
